# Dependencies
node_modules
.npm

# Logs
*.log

# Environment
.env
.env.*

# Build outputs
dist
build

# Version control
.git
.gitignore

# IDE files
.idea
.vscode

# Uploads directory (if you're using external storage)
uploads/*

# Test files
test
coverage

# Docker
Dockerfile
.dockerignore
